.TODOnav{
	height: 100px;
	background-color: lightgrey;
}

.second-row{
	padding-top: 50px;
}

.background-color-2{
	z-index:9;
	margin: 20px;
	background-color:black;
}

.bgcolor-layer{
	background: linear-gradient(180deg, #EDEDED 0%, 
	rgba(237, 237, 237, 0) 70.83%, rgba(247, 164, 117, .557692) 91.15%, 
	#FE6A16 97.92%);
    width: 100%;
    height: 100%;            
    position: fixed;
    top: 0;
    left: 0;
}

